@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chart-icon {
  width: 64px;
  height: 64px;
  background: linear-gradient(hsl(var(--primary)), hsl(var(--primary) / 0.9));
  -webkit-mask: url('/chart-mask.png') no-repeat center;
  -webkit-mask-size: contain;
  mask: url('/chart-mask.png') no-repeat center;
  mask-size: contain;
}

@layer base {
  :root {
    --background: 205 100% 85% ;
    --foreground: 220 30% 20% ; 
    --card: 205 100% 95%; 
    --card-foreground: 220 30% 20%;
    --popover: 205 100% 85%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 85%;
    --secondary-foreground: 220 30% 20%;
    --muted: 210 40% 85%;
    --muted-foreground: 220 15% 40%;
    --accent: 210 40% 98%;
    --accent-foreground: 220 30% 20%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 30% 80%;
    --input: 210 30% 80%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
    --differ:205 100% 95%;
    --chart-1: 217.2 91.2% 59.8%;   /* Primary */
    --chart-2: 142.1 76.2% 36.3%;   /* Green */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-4: 24.6 95% 53.1%;      /* Orange */
    --chart-5: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */  
  }
  .dark {
    --background: 199 65% 10% ;
    --foreground: 210 40% 98% ;
    --card: 198 52% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 199 65% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 40%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem; 
    --differ:222.2 84% 4.9%;
    --chart-1: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-2: 142.1 76.2% 36.3%;   /* Green */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-4: 24.6 95% 53.1%;      /* Orange */
    --chart-5: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */  
  }
  .pink {
    --background: 340 100% 90% ;            
    --foreground: 345 20% 15% ;                       
    --card: 340 100% 98%;
    --card-foreground: 345 20% 15%;
    --popover: 340 100% 90%;
    --popover-foreground: 345 20% 15%;
    --primary: 346.8 77.2% 49.8%;                  
    --primary-foreground: 0 0% 100%;               
    --secondary: 340 50% 88%;                         
    --secondary-foreground: 345 20% 15%;
    --muted: 340 40% 90%;
    --muted-foreground: 345 15% 40%;
    --accent: 340 80% 97%;
    --accent-foreground: 345 20% 15%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 340 40% 80%;
    --input: 340 40% 80%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --differ: 340 100% 98%;
    --chart-1: 346.8 77.2% 49.8%;   /* Pink*/
    --chart-2: 142.1 76.2% 36.3%;   /* Green */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-4: 24.6 95% 53.1%;      /* Orange */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  
  }
  .darkpink {
    --background: 345 45% 14% ;               
    --foreground: 345 60% 92% ; 
    --card: 345 38% 16%;
    --card-foreground: 345 60% 92%;
    --popover: 345 25% 5%;
    --popover-foreground: 345 60% 92%;
    --primary: 346.8 77.2% 49.8%;                       
    --primary-foreground: 345 30% 10%;                
    --secondary: 345 25% 22%;
    --secondary-foreground: 345 60% 92%;
    --muted: 345 20% 20%;
    --muted-foreground: 345 15% 70%;
    --accent: 345 25% 25%;
    --accent-foreground: 345 60% 92%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 345 25% 26%;
    --input: 345 25% 26%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --differ: 345 25% 5%;
    --chart-1: 346.8 77.2% 49.8%;   /* Pink */
    --chart-2: 142.1 76.2% 36.3%;   /* Green */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-4: 24.6 95% 53.1%;      /* Orange */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .orange {
    --background: 35 100% 80% ;          
    --foreground: 30 20% 15% ;                         
    --card: 35 100% 97%;
    --card-foreground: 30 20% 15%;
    --popover: 35 100% 85%;
    --popover-foreground: 30 20% 15%;
    --primary: 35 95% 50%;                       
    --primary-foreground: 30 100% 98%;              
    --secondary: 35 80% 85%;                         
    --secondary-foreground: 30 20% 15%;
    --muted: 35 60% 90%;
    --muted-foreground: 30 15% 40%;
    --accent: 35 80% 100%;
    --accent-foreground: 30 20% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 35 60% 80%;
    --input: 35 60% 80%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --differ: 35 100% 97%;
    --chart-1: 24.6 95% 53.1%;      /* Orange */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-2: 142.1 76.2% 36.3%;   /* Green */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .darkorange {
    --background: 24 70% 14% ;  
    --foreground: 35 80% 88% ;                          
    --card: 30 58% 18%;
    --card-foreground: 35 80% 88%;
    --popover: 30 60% 10%;
    --popover-foreground: 35 80% 88%;
    --primary: 35 95% 53.1%;                         
    --primary-foreground: 30 60% 10%;               
    --secondary: 30 40% 18%;
    --secondary-foreground: 35 80% 88%;
    --muted: 30 35% 16%;
    --muted-foreground: 35 40% 70%;
    --accent: 30 45% 22%;
    --accent-foreground: 35 80% 88%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 40% 22%;
    --input: 30 40% 22%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --differ: 30 60% 6%;
    --chart-1: 24.6 95% 53.1%;      /* Orange */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-2: 142.1 76.2% 36.3%;   /* Green */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .green {
    --background: 157 59% 75% ;
    --foreground: 240 10% 3.9% ;
    --card: 144 100% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 157 59% 75%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-2: 24.6 95% 53.1%;      /* Orange */
    --chart-1: 142.1 76.2% 36.3%;   /* Green */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .darkgreen {
    --background: 157 45% 14% ; 
    --foreground: 140 30% 95% ;          
    --card: 157 33% 18%;
    --card-foreground: 140 30% 95%;
    --popover: 144  43% 6.9%;
    --popover-foreground: 140 30% 95%;
    --primary: 142.1 76.2% 40%;           
    --primary-foreground: 157 100% 95%;   
    --secondary: 158 25% 22%;           
    --secondary-foreground: 140 30% 95%;
    --muted: 158 20% 20%;
    --muted-foreground: 140 10% 70%;
    --accent: 158 25% 25%;
    --accent-foreground: 140 30% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 25% 26%;
    --input: 158 25% 26%;
    --ring: 142.1 76.2% 40%;
    --differ:144  43% 6.9%;
    --radius: 0.5rem;
    --chart-2: 24.6 95% 53.1%;      /* Orange */
    --chart-1: 142.1 76.2% 36.3%;   /* Green */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-3: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .yellow {
    --background: 44 100% 88% ;                
    --foreground: 30 20% 15% ;                  
    --card: 47 100% 97%;
    --card-foreground: 30 20% 15%;
    --popover: 47 100% 87%;
    --popover-foreground: 30 20% 15%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 30 20% 15%;
    --secondary: 47 70% 80%;
    --secondary-foreground: 30 20% 15%;
    --muted: 47 60% 85%;
    --muted-foreground: 30 15% 40%;
    --accent: 47 100% 100%;
    --accent-foreground: 30 20% 15%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 47 60% 80%;
    --input: 47 60% 80%;
    --ring: 47.9 95.8% 53.1%;
    --radius: 0.5rem;
    --differ: 47 100% 95%;
    --chart-1: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-2: 24.6 95% 53.1%;      /* Orange */
    --chart-3: 142.1 76.2% 36.3%;   /* Green */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .darkyellow {
    --background: 48 80% 12% ;   
    --foreground: 45 70% 88% ;      
    --card: 48 68% 16%;
    --card-foreground: 45 70% 88%;
    --popover: 44 80% 8%;
    --popover-foreground: 45 70% 88%;
    --primary: 48 96% 40%;                
    --primary-foreground: 44 30% 12%;          
    --secondary: 44 25% 20%;
    --secondary-foreground: 45 70% 88%;
    --muted: 44 20% 18%;
    --muted-foreground: 45 40% 70%;
    --accent: 44 25% 25%;
    --accent-foreground: 45 70% 88%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 44 25% 22%;
    --input: 44 25% 22%;
    --ring: 47.9 95.8% 53.1%;
    --radius: 0.5rem;
    --differ: 44 25% 5%;
    --chart-1: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-2: 24.6 95% 53.1%;      /* Orange */
    --chart-3: 142.1 76.2% 36.3%;   /* Green */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-6: 262.1 83.3% 57.8%;   /* Violet */
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .violet {
    --background: 258 95% 93% ;        
    --foreground: 258 30% 15% ;      
    --card: 258 100% 97%;
    --card-foreground: 258 30% 15%;
    --popover: 258 100% 96%;
    --popover-foreground: 258 30% 15%;
    --primary: 262.1 83.3% 57.8%;              
    --primary-foreground: 258 100% 98%;      
    --secondary: 258 50% 92%;
    --secondary-foreground: 258 30% 15%;
    --muted: 258 40% 90%;
    --muted-foreground: 258 15% 40%;
    --accent: 258 50% 98%;
    --accent-foreground: 258 30% 15%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 258 30% 85%;
    --input: 258 30% 85%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --differ: 258 100% 99%;
    --chart-1: 262.1 83.3% 57.8%;   /* Violet */
    --chart-6: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-2: 24.6 95% 53.1%;      /* Orange */
    --chart-3: 142.1 76.2% 36.3%;   /* Green */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
  .darkviolet {
    --background: 262 40% 10% ;    
    --foreground: 258 60% 90% ;       
    --card: 262 35% 13%;
    --card-foreground: 258 60% 90%;
    --popover: 262 30% 7%;
    --popover-foreground: 258 60% 90%;
    --primary: 262.1 83.3% 57.8%;              
    --primary-foreground: 258 100% 97%;      
    --secondary: 263 25% 20%;
    --secondary-foreground: 258 60% 90%;
    --muted: 263 20% 18%;
    --muted-foreground: 258 30% 65%;
    --accent: 263 25% 22%;
    --accent-foreground: 258 60% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 20% 26%;
    --input: 263 20% 26%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --differ: 262 30% 7%;
    --chart-1: 262.1 83.3% 57.8%;   /* Violet */
    --chart-6: 47.9 95.8% 53.1%;    /* Yellow */
    --chart-2: 24.6 95% 53.1%;      /* Orange */
    --chart-3: 142.1 76.2% 36.3%;   /* Green */
    --chart-4: 346.8 77.2% 49.8%;   /* Pink / Rose */
    --chart-5: 217.2 91.2% 59.8%;   /* Primary*/
    --chart-7: 5 85% 53%;           /* Red */
    --chart-8: 190 70% 42%;         /* Teal */
    --chart-9: 180 84% 61%;         /* Cyan */
    --chart-10: 231 61% 56%;        /* Indigo */
    --chart-11: 75 87% 59%;         /* Lime */
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Firefox */
}

#amount::placeholder {
  font-size: x-large;
}
#amount:focus {
  outline: none;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
